::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: ghostwhite;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 4px;
}

.addDNSFrom,
.editDNSForm,
.loginForm {
    width: 50%;
    background-color: ghostwhite;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.065);
    border-radius: 5px;
    margin: 50px auto;
    padding: 50px;
}

.dnsTable {
    width: 90%;
    background-color: ghostwhite;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.065);
    border-radius: 5px;
    margin: 50px auto;
    padding: 50px;
}

.label-icon {
    margin-top: 10px;
    margin-bottom: 5px;
}

.fas {
    padding-top: 4px;
    font-weight: 900;
    height: 24px;
}

.form-select {
    width: auto;
}